<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="newsDao" class="com.epam.ogoltsov.dao.NewsDaoImpl"/>

    <bean id="newsService" class="com.epam.ogoltsov.service.NewsService">
        <constructor-arg name="newsDao" ref="newsDao"/>
    </bean>

     <bean name="news" class="com.epam.ogoltsov.model.News"/>

</beans>