<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans      http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="newsDao" class="com.epam.ogoltsov.dao.NewsDaoImpl"/>

    <bean id="newsService" class="com.epam.ogoltsov.service.NewsService">
        <constructor-arg name="newsDao" ref="newsDao"/>
    </bean>

    <bean id="newsAction" class="com.epam.ogoltsov.action.NewsActions">
        <constructor-arg name="service" ref="newsService"/>
    </bean>
    <bean name="news" class="com.epam.ogoltsov.model.News"/>

</beans>